.card-genre-one {
  display: flex;
  width: 90%;
  margin: 80px auto 0 auto;
  justify-content: space-between;
}

.genre-name-one {
  margin-left: 40px;
}

.genre-name-one h1 {
  font-size: 58px;
  color: white;
}

.genre-name-one p {
  color: white;
}

.genre-name-one button {
  width: fit-content;
  margin-top: 20px;
  padding: 16px 40px;
  border: none;
  background-color: #fd0240;
  color: white;
  font-weight: 300;
  cursor: pointer;
}

.movie-list-one {
  display: flex;
  justify-content: space-between;
}

.movie-details-one {
  margin-right: 20px;
  cursor: pointer;
}

.movie-title-one {
  font-weight: 600;
  color: white;
}

.movie-genre-one {
  font-weight: 300;
  color: white;
}
