.card {
  background-color: white;
  width: 90%;
  margin: -40px auto 0 auto;
  border-radius: 8px;
  padding: 65px 35px;
  display: flex;
  justify-content: space-between;
}

.genre-name {
  margin-left: 40px;
}

.genre-name h1 {
  font-size: 58px;
}

.genre-name button {
  width: fit-content;
  margin-top: 20px;
  padding: 16px 40px;
  border: none;
  background-color: #fff;
  color: #fd0240;
  font-weight: 300;
  cursor: pointer;
  border: #fd0240;
  border-width: 1px;
  border-style: solid;
}

.movie-list {
  display: flex;
  justify-content: space-between;
}
